extends layout
link(rel='stylesheet', href='/stylesheets/general.css')
block content
  .outer
    .middle
      .inner
        h1 #{store} : #{item}
        #map
          img(src="images/placeholder_floorplan.png")
        #location
          .locationsubdiv#tags
            h2 Aisle: 
            h2 Position In Aisle:
            h2 Shelf Number (From Bottom):
            h2 Special Comments: 
          .locationsubdiv#info
            h2 #{anum}
            h2 #{pia}
            h2 #{snum}
            h2 #{com}