extends layout
link(rel='stylesheet', href='/stylesheets/general.css')
block content
  .outer
    .middle
      .inner
        h1.storename #{store}
        .subdiv#address
          h1 Address
          h3 #{add}, #{zip}
        .subdiv#hours
          ul#hours
            h1.sublabel Hours
            li #{Sun}
            li #{Mon}
            li #{Tue}
            li #{Wed}
            li #{Thu}
            li #{Fri}
            li #{Sat}
        ul#itemlist
          h1.sublabel Items
          each item, i in items
            a(href="/map?store=" + "#{store}" + "&item=" + "#{item}")
              li.itemlistitem
                button.itembutton
                  span.itemlabel #{item}
